/* Colors */
:root {
  /* Neutral */
  --op-neutral-0: #fbfcfe;
  --op-neutral-100: #f2f3f8;
  --op-neutral-200: #e0e2eb;
  --op-neutral-300: #cbd5e0;
  --op-neutral-400: #9195a6;
  --op-neutral-500: #636779;
  --op-neutral-600: #404454;
  --op-neutral-700: #232634;
  --op-neutral-800: #0f111a;
  --op-neutral-900: #05060b;
}
