@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "HarmonyOS Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Light"),
    url("../public/fonts/HarmonyOS_Sans_Light.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Light Italic"),
    url("../public/fonts/HarmonyOS_Sans_Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Regular"),
    url("../public/fonts/HarmonyOS_Sans_Regular.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Italic"),
    url("../public/fonts/HarmonyOS_Sans_Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Medium"),
    url("../public/fonts/HarmonyOS_Sans_Medium.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Medium Italic"),
    url("../public/fonts/HarmonyOS_Sans_Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Bold"),
    url("../public/fonts/HarmonyOS_Sans_Bold.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("HarmonyOS Sans Bold Italic"),
    url("../public/fonts/HarmonyOS_Sans_Bold_Italic.woff") format("woff");
}

:root {
  font-family: "HarmonyOS Sans Regular", Inter, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  .nx-rounded-xl {
    border-radius: 5px;
  }

  .nx-text-gray-100 {
    color: var(--op-neutral-100);
  }

  .nx-text-gray-200 {
    color: var(--op-neutral-200);
  }

  .nx-text-gray-300 {
    color: var(--op-neutral-300);
  }

  .nx-text-gray-400 {
    color: var(--op-neutral-400);
  }

  .nx-text-gray-500 {
    color: var(--op-neutral-500);
  }

  .nx-text-gray-600 {
    color: var(--op-neutral-600);
  }

  .nx-text-gray-700 {
    color: var(--op-neutral-700);
  }

  .nx-text-gray-800 {
    color: var(--op-neutral-800);
  }

  .nx-text-gray-900 {
    color: var(--op-neutral-900);
  }

  .nx-text-slate-900 {
    color: var(--op-neutral-900);
  }

  .nx-bg-gray-100 {
    color: var(--op-neutral-100);
  }

  .nx-bg-gray-200 {
    color: var(--op-neutral-200);
  }

  .nx-bg-gray-300 {
    color: var(--op-neutral-300);
  }

  .nx-bg-gray-400 {
    color: var(--op-neutral-400);
  }

  .nx-bg-gray-500 {
    color: var(--op-neutral-500);
  }

  .nx-bg-gray-600 {
    color: var(--op-neutral-600);
  }

  .nx-bg-gray-800 {
    color: var(--op-neutral-800);
  }

  .nx-bg-gray-900 {
    color: var(--op-neutral-900);
  }

  .nx-bg-primary-100 {
    background-color: var(--op-blue-100);
  }

  .nx-bg-primary-200 {
    background-color: var(--op-blue-200);
  }

  .nx-bg-primary-300 {
    background-color: var(--op-blue-300);
  }

  .nx-bg-primary-400 {
    background-color: var(--op-blue-400);
  }

  .nx-bg-primary-500 {
    background-color: var(--op-blue-500);
  }

  .nx-bg-primary-600 {
    background-color: var(--op-blue-600);
  }

  .nx-bg-primary-800 {
    background-color: var(--op-blue-700);
  }

  .nx-bg-primary-800 {
    background-color: var(--op-blue-800);
  }

  .nx-bg-primary-900 {
    background-color: var(--op-blue-900);
  }

  .nx-bg-primary-700\/5 {
    background-color: var(--op-neutral-100);
  }
}

/* Main nav */

.nextra-nav-container .nx-flex:hover {
  opacity: 1;
}

nav a span,
nav div button {
  font-family: "HarmonyOS Sans Medium";
}

/* Hero */

#idkit-widget {
  z-index: 100000;
  position: fixed;
}

/* Links */
a.nx-underline {
  text-decoration: none;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "HarmonyOS Sans Bold";
}

h2 {
  border: none;
}

/* Override Nextra for headings in-content */
.nextra-content h1 {
  margin-top: 1.5rem;
}

.nextra-content h2 ~ p {
  margin-top: 0.3rem;
}

.nextra-content h3 ~ p {
  margin-top: 0.3rem;
}

/* External links styling */
/* Style nav external links */
.nextra-nav-container nav a[target="_blank"]:nth-child(2):after,
.nextra-nav-container nav a[target="_blank"]:nth-child(3):after,
.nextra-nav-container nav a[target="_blank"]:nth-child(4):after {
  content: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33622 2.84025L1.17647 10L0 8.82354L7.15975 1.66378H0.849212V0H10V9.15081H8.33622V2.84025Z' fill='%239195A6'/%3E%3C/svg%3E%0A ");
  padding-left: 20px;
}

/* sidebar external links */
.nextra-sidebar-container a[target="_blank"]:after {
  content: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.33622 2.84025L1.17647 10L0 8.82354L7.15975 1.66378H0.849212V0H10V9.15081H8.33622V2.84025Z' fill='%239195A6'/%3E%3C/svg%3E%0A ");
  padding-left: 6px;
}

/* in-content external links */
.nextra-content a[target="_blank"]:after {
  content: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.33622 2.84025L1.17647 10L0 8.82354L7.15975 1.66378H0.849212V0H10V9.15081H8.33622V2.84025Z" fill="%233374DB"/></svg>');
  padding-left: 4px;
  margin-right: 2px;
}

/* Table of contents */
.nextra-toc .divider {
  display: block;
  width: 100%;
  margin-top: 0.1em;
  border-top: 1px solid var(--border);
}

.nextra-toc .top-divider {
  margin-top: 1.5em;
}
